.block-info{
    background-color: #1D6FA3;
    border-radius: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: #FFF;
}

.block-info-text{
    color: #FFF;
    font-weight: bolder;
}
