


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>表单元素</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
</head>

{#<div class="layui-fluid">#}
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">数据表单</li>
{#            <li>自己设计</li>#}
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-card-header">数据收集表单</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="" lay-filter="component-form-element">
                            <div class="layui-form-item">
                                <label class="layui-form-label">设备号:</label>
                                <div class="layui-input-block">
{#                                        <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">#}
                                    <label class="layui-form-label">2eas2352</label>
                                </div>
                            </div>
                            <div class="layui-form-item">
                               <label class="layui-form-label">收集日期:</label>
                                <div class="layui-input-block">
                                    <label class="layui-form-label-col">2021-04-25 14:30</label>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">溶解氧:</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">高猛酸盐指数:</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">化学需氧量(COD):</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">生化需氧量(BOD2):</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">氨氮(NH3-N):</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">总磷(以P记):</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">铜:</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">锌:</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">氟化物:</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">砷:</label>
                                    <div class="layui-input-block">
                                            <input type="text" name="fullname" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">备注：</label>
                                <div class="layui-input-block">
                                    <textarea name="other" placeholder="" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"> </label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="agreement" title="我已仔细审核过数据" lay-skin="primary" checked>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="component-form-element">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            </div>


            <script src="../static/layuiadmin/layui/layui.js"></script>
            <script>
                layui.config({
                    base: '../static/layuiadmin/' //静态资源所在路径
                }).extend({
                    index: 'lib/index' //主入口模块
                }).use(['index', 'form'], function(){
                    var $ = layui.$
                        ,admin = layui.admin
                        ,element = layui.element
                        ,form = layui.form;

                    form.render(null, 'component-form-element');
                    element.render('breadcrumb', 'breadcrumb');

                    form.on('submit(component-form-element)', function(data){
                        layer.open({
                            title: '生成码'
                            ,content: '25W4A4d1c'
                        });
                        return false;
                    });
                });
            </script>
    </div>
</div>
</html>
