<body>
<div class="layui-form" lay-filter="useradmin" id="useradmin">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <label class="layui-form-label">品牌名称:</label>
            <input type="text" name="config_name" lay-verify="required" id="brand_name"  autocomplete="off" class="layui-input">
        </div>
        <br>
        <div class="layui-input-inline">
            <label class="layui-form-label">经销商数量:</label>
            <input type="text" id="trader_count" >
        </div>
        <br>
        <div class="layui-input-inline">
            <label class="layui-form-label">直播经销商数量:</label>
            <input type="text" id="live_trader_count" >
        </div>
        <br>
        <div class="layui-input-inline">
            <label class="layui-form-label">更新时间:</label>
            <input type="text" id="update_time" >
        </div>
        <br>
        <div class="layui-input-inline">
            <label class="layui-form-label">用户名:</label>
            <input name="用户名" id="username"  >
        </div>
        <br>
        <div class="layui-input-inline">
            <label class="layui-form-label">密码:</label>
            <input type="text" id="password" >
        </div>
        <br>
    </div>
</div>
</body>
