<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>
    <style>
        body{overflow-x:hidden;overflow-y:hidden;}
    </style>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item" style="height: 30px;width: 360px">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <label class="layui-form-label" id="name" style="width: 300px"></label>
        </div>
    </div>
    <div class="layui-form-item" style="height: 30px;width: 360px">
        <label class="layui-form-label">标签1</label>
        <div class="layui-input-block">
            <select name="city" lay-verify="required" id="label1">
                <option value="">请选择标签</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="height: 30px;width: 360px">
        <label class="layui-form-label">标签2</label>
        <div class="layui-input-block">
            <select name="city" lay-verify="required" id="label2">
                <option value="">请选择标签</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="height: 30px;width: 360px">
        <label class="layui-form-label">标签3</label>
        <div class="layui-input-block">
            <select name="city" lay-verify="required" id="label3">
                <option value="">请选择标签</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="height: 30px;width: 360px">
        <label class="layui-form-label">合作价格</label>
        <div class="layui-input-block">
            <input type="text" id="before_price" name="price" required  lay-verify="required" placeholder="请输入数字"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="height: 30px;width: 360px">
        <label class="layui-form-label">合作配合度</label>
        <div class="layui-input-block">
            <select name="city" lay-verify="required" id="CooperateDegree">
                <option value="">请选择配合度</option>
                <option value="高">高</option>
                <option value="中">中</option>
                <option value="低">低</option>
            </select>
        </div>
    </div>
</form>

<script>
    window.onload = function(){
        $.ajaxSettings.async = false;
        $.ajax({
            url: "/labelcontent",
            type : "post",
            dataType : "json",
            // data: {
            //     companynm : $("#companyid").val()
            // },
            success: function( data ) {
                // console.log(data);
                let lableContent = [];
                for (let i in data['data']) {
                    lableContent.push(data['data'][i]); //属性
                    //arr.push(object[i]); //值
                }
                // console.log(lableContent);
                for(let i of lableContent){
                    // console.log(i);
                    $("#label1").append("<option value="+i+">"+i+"</option>");
                    $("#label2").append("<option value="+i+">"+i+"</option>");
                    $("#label3").append("<option value="+i+">"+i+"</option>");
                }
                var url = location.search; //获取url中"?“符后的字串
                var str = url.substr(1);
                strs = str.split("&");
                let label1 = decodeURIComponent(strs[0]);//获取url中的id
                console.log(label1);
                let label2= decodeURIComponent(strs[1]);//获取url中的name
                let label3= decodeURIComponent(strs[2]);//获取url中的name
                let shui = decodeURIComponent(strs[3]);
                let kol_name = decodeURIComponent('<p style="color: red;text-align: left">'+strs[4]+'</p>'); // 获取url中的kol_name
                $("#name").append(kol_name);
                if(label1!=="") {
                    $("#label1").val(label1);
                }
                if(label2!=="") {
                    $("#label2").val(label2);
                }
                if(label3!=="") {
                    $("#label3").val(label3);
                }
                if(shui!=="") {
                    $("#CooperateDegree").val(shui);
                }
                formRender()
                function formRender(){
                    layui.use('form', function(){
                        var form = layui.form;
                        form.render();
                    });}
            }});
        $.ajaxSettings.async = true;
    }
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>