<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>直播线索信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <!-- 引入jQuery UI的js文件 -->
    <script type="text/javascript" src="/js/jquery-ui.min.js" ></script>
    <style>
        .ui-autocomplete {
            max-height: 100px;
            background-color: #8b95a5;
            overflow-y: auto;
            /* 防止水平滚动条 */
            overflow-x: hidden;
        }
        /* IE 6 不支持 max-height
         * 我们使用 height 代替，但是这会强制菜单总是显示为那个高度
         */
        * html .ui-autocomplete {
            height: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="layui-row layui-col-space15">



        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-header">待标注KOL列表</div>
                <div class="layui-card-body">
                    <div class="layui-col-md2 layui-col-sm3 layui-col-xs3" style="text-align: left">

                        <div class="layui-card">
                            总标注数：${labeled_count} <br/>
                            今日标注数：${todayCount} <br/>
                            标注被修改次数： ${update_count}<br/>
                        </div>
                    </div>


                    <div class="layui-card">
                        <div class="demoTable" style="text-align: right">
                            <select name="city" onchange="getSelectValue(this);">
                                <option value="name">用户名</option>
                                <option value="id">抖音号</option>>
                            </select>
                            <div class="layui-inline">
                                <input class="layui-input" name="productId" id="send_name" autocomplete="off">
                            </div>
                            <button class="layui-btn" data-type="reload" id="do_search">搜索</button>
                        </div>
                    </div>
                    <br/>

                    <table id="demo" lay-filter="test"></table>
                </div>
            </div>
        </div>

    </div>

    <script>
        window.onload=function(){
            let auto_data = [];
            $.ajax({
                url: "/autocomplete",
                type : "post",
                dataType : "json",
                // data: {
                //     companynm : $("#companyid").val()
                // },
                success: function( data ) {
                       // console.log(data);
                    for (let i in data['data']) {
                        auto_data.push(data['data'][i]); //属性
                        //arr.push(object[i]); //值
                    }
                }});
            $("#send_name").autocomplete({
                source: auto_data
                ,minLength: 2

            });
        }
        var sValue = 'name';
        function getSelectValue(obj) {
            sValue = obj.options[obj.options.selectedIndex].value; //这是取值
            // var sText = obj.options[obj.options.selectedIndex].innerHTML; //这是取文本内容
            // document.getElementById("selectValue").innerHTML = sText + "，他的值为：" + sValue; //测试输出
        };
        layui.use(['table','upload'], function(){
            var table = layui.table;
            //第一个实例

            table.render({
                id:'test'
                ,elem: '#demo'
                ,page: 'true'
                ,height: 500
                ,url: '/brandList'
                // ,page: true //开启分页
                ,title: 'KOL列表'
                // ,toolbar: '#toolbarDemo'  //开启头部工具栏，并为其绑定左侧模板
                ,cols: [[
                    {field: 'AvatarUrl', title: '头像', align: 'center',width:60, templet: '#imgTemp',align:'center'}
                    ,{field: 'kol_name', title: '名称', width:100, event: 'clos'}
                    ,{field: 'douyinId', title: '抖音号', width:100, event:'clos'}
                    ,{field: 'StarLabel', title: '星图标签', width: 90, event: 'clos'}
                    ,{field: 'price', title: '星图价格', width: 90, event:'cols',align:'center', templet:function(d){
                            var priceStr = d.price.split(",");
                            var price = "";
                            if (priceStr.length >1) {price = "¥"+priceStr[0].split(":")[1]} else {price = ""}
                            return price}}
                    ,{field: 'Label1', title: '标签1', width: 80, event:'cols'}
                    ,{field: 'Label2', title: '标签2', width: 80, event:'cols'}
                    ,{field: 'Label3', title: '标签3', width: 80, event:'cols'}
                    ,{field: 'beforePrice', title: '合作价格', width: 90, event:'cols'}
                    ,{field: 'CooperateDegree', title: '配合度', width: 70, event:'cols'}
                    ,{field: 'LastLabelId', title: '标注人', width: 80, event:'cols'}
                    // beforePrice2 Label1 Label2 Label3 LastLabelId  CooperateDegree
                    // {field: 'SelectLabel1', title: '标签1', width: 110, event:'cols'}
                ]]
                ,done: function(res,curr,count){
                    $('td').css({'cursor':'pointer'}); //设置成指针放在表格上换成手指
                    $('table').width('100%');
                }
            });
            // 执行搜索，表格重载
            $('#do_search').on('click', function () {
                    // 搜索条件
                    let send_name = $('#send_name').val();
                    console.log(sValue)
                    // let select = $('#select').val();
                    // var send_data = $('#send_data').val();
                    if(sValue === 'name'){
                        table.reload('test', {
                            method: 'post'
                            , where: {
                                // 'csrfmiddlewaretoken': token,
                                'kol_name': send_name,
                                // 'send_data': send_data,
                            }
                            , page: {
                                curr: 1
                            }
                        },'data')
                    }else{
                        table.reload('test', {
                            method: 'post'
                            , where: {
                                // 'csrfmiddlewaretoken': token,
                                'douyinId': send_name,
                                'kol_name': "",
                                // 'send_data': send_data,
                            }
                            , page: {
                                curr: 1
                            }
                        },'data')
                    }
                }
            );
            table.on('row(test)',function(obj){
                // obj.stylesheet = 'color:red';
                if ([[${todayCount}]] <=200) {
                    var data = obj.data;
                    layer.open({
                        type: 2
                        ,
                        title: '修改信息'
                        ,
                        content: 'form.html?' + data.Label1 + '&' + data.Label2 + '&' + data.Label3 + '&' + data.CooperateDegree
                        ,
                        height: 600
                        // ,maxmin: true
                        ,
                        area: ['500px', '400px']
                        ,
                        btn: ['确定', '取消']
                        ,
                        yes: function (index, layero) {
                            let before_price_form = $(layero).find('iframe')[0].contentWindow.before_price.value;
                            // let url = $(layero).find('iframe')[0].contentWindow.before_price_2.value;

                            let CooperateDegree_form = $(layero).find('iframe')[0].contentWindow.CooperateDegree.value;
                            let label1_form = $(layero).find('iframe')[0].contentWindow.label1.value;
                            let label2_form = $(layero).find('iframe')[0].contentWindow.label2.value;
                            let label3_form = $(layero).find('iframe')[0].contentWindow.label3.value;
                            //同步数据表格中的数据
                            // console.log(config_name);
                            // console.log(url);
                            obj.update({
                                beforePrice: before_price_form
                                // ,beforePrice2: url
                                , CooperateDegree: CooperateDegree_form
                                , Label1: label1_form
                                , Label2: label2_form
                                , Label3: label3_form
                            })
                            // console.log(data.kol_name)

                            $.ajax({
                                url: '/update_user/',
                                type: "post",
                                dataType: 'json',
                                data: {
                                    kol_name: data.kol_name
                                    , beforePrice: before_price_form
                                    , CooperateDegree: CooperateDegree_form
                                    , Label1: label1_form
                                    , Label2: label2_form
                                    , Label3: label3_form
                                },
                                success(data) {
                                    // layer.msg('KOL标注成功');

                                    layer.msg('KOL标注成功', {icon: 1, time: 1000}, function () {
                                        setTimeout('window.location.reload()', 1000);
                                    });

                                }
                            })
                            layer.close(index);
                        }
                        ,
                        success: function (layero, index) {

                            // 方式一  其实就是获取的 子页面的 div
                            var div = layero.find('iframe').contents().find('#useradmin');  // div.html() div里面的内容,不包含当前这个div

                            // 方式二
                            var body = layer.getChildFrame('body', index);  // body.html() body里面的内容


                            /* ---- 附加内容 看看就好  Begin ---- */
                            var iframeWindow = window['layui-layer-iframe' + index]   // 方式一： 得到iframe页的窗口对象
                            // var iframeWindow = window[layero.find('iframe')[0]['name']];   // 方式二： 得到iframe页的窗口对象
                            /* ---- 附加内容 看看就好  End ---- */

                            // 测试 ：
                            body.find("#before_price").val(data.beforePrice);  // 方式一
                            // body.find("#before_price_2").val(data.beforePrice2)
                            body.find("#CooperateDegree").val(data.CooperateDegree)
                            // console.log(data.Label1);
                            body.find("#label1").val(data.Label1);
                            body.find("#label2").val(data.Label2);
                            body.find("#label3").val(data.Label3);
                            // div.find("#username").val("admin");  // 方式二
                        }
                    });
                }
                else {
                    layer.open({
                        type: 1,
                        content: '           您已经完成200个KOL标注，谢谢！',
                        area: ['600px', '400px'],
                        resize:false
                    });
                }
            })
        });

    </script>

    <script type="text/html" id="imgTemp">
        <img class= "icon-image" src="{{d.AvatarUrl}}" width="40" height="40">
        <!--    <img src="{{d.avator_url}}" style="height: 60px;width: 60px">-->
    </script>




</div>
</body>
</html>