<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KOL标注系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/template.css" media="all">
    <!-- 引入jQuery UI的js文件 -->
    <script type="text/javascript" src="/js/jquery-ui.min.js" ></script>
    <style type="text/css">
        .layui-table-cell {
            white-space: normal;
            height: 60px;
            text-align:center;
            vertical-align:middle;
        }
    </style>
    <style>
        .ui-autocomplete {
            max-height: 100px;
            background-color: #8b95a5;
            overflow-y: auto;
            /* 防止水平滚动条 */
            overflow-x: hidden;
        }
        * html .ui-autocomplete {
            height: 100px;
        }
    </style>
</head>
<body>
<ul class="layui-nav layui-bg-cyan">
    <li class="layui-nav-item layui-this">
        <b>待标注KOL列表</b>
    </li>
    <li class="layui-nav-item layui-col-md-offset6">
        <a id="duration">累计标注${labeled_count}个</a>
    </li>
    <li class="layui-nav-item">
        <a id="today">今日标注${todayCount}个</a>
    </li>
    <li class="layui-nav-item">
        <a>被修改${update_count}个</a>
    </li>
    <li class="layui-nav-item" style="float: right">
        <a href="">${username}</a>
        <dl class="layui-nav-child">
            <dd><a href="/password.html">修改密码</a></dd>
            <dd><a href="/logout">退出</a></dd>
        </dl>
    </li>
</ul>
<div class="container">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12" style="float: top">
                    <div class="demoTable" style="text-align: right">
                        <div class="layui-inline">
                            <input class="layui-input" name="send_name" id="send_name"  placeholder="请输入用户名/抖音号">
                        </div>
                        <button class="layui-btn layui-bg-cyan" data-type="reload" id="do_search">搜索</button>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <table id="demo" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $(function(){
            let auto_data = [];
            $.ajax({
                url: "/autocomplete",
                type : "post",
                dataType : "json",
                success: function( data ) {
                    for (let i of data['data']) {
                        auto_data.push(i); //将返回的关键词加入到数组中
                    }
                    $("#send_name").autocomplete({
                        source: auto_data
                        ,minLength: 2

                    });
                }});
        });
        var today_count = parseInt('${todayCount}');
        var duration_count = parseInt('${labeled_count}');
        layui.use(['table','upload'], function(){
            var table = layui.table;
            table.render({
                id:'test'
                ,elem: '#demo'
                ,page: 'true'
                ,height: 818
                ,url: '/brandList'
                ,title: 'KOL列表'
                ,cols: [[
                    {field: 'AvatarUrl', title: '头像', align: 'center',width:80, templet: '#imgTemp',align:'center'}
                    ,{field: 'kol_name', title: '名称', width:100,align:'center'}
                    ,{field: 'douyinId', title: '抖音号', width:120,align:'center'}
                    ,{field: 'StarLabel', title: '星图标签', width: 70,align:'center'}
                    ,{field: 'price', title: '星图价格', width: 90,align:'center', templet:function(d){
                            //规格化数值，例：654321 -》 ￥654,321
                            var priceStr = d.price.split(",");
                            var price = "";
                            if (priceStr.length >1) {
                                let priceAfter = parseInt(priceStr[0].split(":")[1])
                                let priceAfter2 = priceAfter.toLocaleString();
                                price = "¥"+priceAfter2} else {price = ""}
                            return price}}
                    ,{field: 'Label1', title: '标签1', hide: 'true'}
                    ,{field: 'Label2', title: '标签2', hide: 'true'}
                    ,{field: 'Label3', title: '标签3', hide: 'true'}
                    ,{field: 'label', title: '标签', width: 200,align:'center'}
                    ,{field: 'beforePriceShow', title: '合作价格', width: 90,align:'center', templet:function(d){
                            //同上
                            let priceStr = d.beforePriceShow;
                            let price = "";
                            if (priceStr.length >1) {
                                let priceAfter = parseInt(priceStr)
                                let priceAfter2 = priceAfter.toLocaleString();
                                price = "¥"+priceAfter2} else {price = ""}
                            return price
                        }}
                    ,{field: 'beforePrice', hide: 'true'}
                    ,{field: 'CooperateDegree', title: '配合度', width: 70,align:'center'}
                    ,{field: 'LastLabelId', title: '标注人', width: 80,align:'center'}
                ]]
                ,done: function(res,curr,count){
                    $('td').css({'cursor':'pointer'}); //设置成指针放在表格上换成手指,水平垂直居中
                    $('table').width('100%');
                    $('.layui-table-cell').css({ 'line-height':'60px', 'text-align':'center','padding': '0px 0px'});
                }
            });
            // 执行搜索，表格重载
            $('#do_search').on('click', function () {
                    // 搜索条件
                    let send_name = $('#send_name').val();
                    console.log(send_name);
                        table.reload('test', {
                            method: 'post'
                            , where: {'douyinId': send_name}
                            , page: {curr: 1}
                        },'data')
                }
            );
            table.on('row(test)',function(obj){
                if ([[${todayCount}]] <=200) {
                    var data = obj.data;
                    layer.open({
                        type: 2
                        , title: '修改信息'
                        , content: 'form.html?' + data.Label1 + '&' + data.Label2 + '&' + data.Label3 + '&' + data.CooperateDegree + '&' + data.kol_name
                        , area: ['400px', '390px']
                        , btn: ['确定', '取消']
                        , yes: function (index, layero) {
                            let before_price_form = $(layero).find('iframe')[0].contentWindow.before_price.value;
                            let CooperateDegree_form = $(layero).find('iframe')[0].contentWindow.CooperateDegree.value;
                            let label1_form = $(layero).find('iframe')[0].contentWindow.label1.value;
                            let label2_form = $(layero).find('iframe')[0].contentWindow.label2.value;
                            let label3_form = $(layero).find('iframe')[0].contentWindow.label3.value;
                            let labelStr = '';
                            if(label1_form.length !== 0){
                                labelStr+=label1_form;
                            }
                            if(label2_form.length !== 0){
                                labelStr+='，'+label2_form;
                            }
                            if(label3_form.length !== 0){
                                labelStr+='，'+label3_form;
                            }
                            //同步数据表格中的数据
                            obj.update({
                                beforePrice: before_price_form
                                , CooperateDegree: CooperateDegree_form
                                , beforePriceShow: before_price_form
                                , label: labelStr
                                , Label1: label1_form
                                , Label2: label2_form
                                , Label3: label3_form
                            })
                            $.ajax({
                                url: '/update_user/',
                                type: "post",
                                dataType: 'json',
                                data: {
                                    kol_name: data.kol_name
                                    , beforePrice: before_price_form
                                    , CooperateDegree: CooperateDegree_form
                                    , Label1: label1_form
                                    , Label2: label2_form
                                    , Label3: label3_form
                                    , LastLabelId: data.LastLabelId
                                    , page: $(".layui-laypage-em").next().html()//当前页码值
                                },
                                success(data) {
                                    if(parseInt(data.status) === 1){
                                        today_count+=1;
                                        document.getElementById("today").innerHTML = '今日标注'+today_count+'个';
                                        duration_count+=1;
                                        document.getElementById("duration").innerHTML = '累计标注'+duration_count+'个';
                                    }
                                    layer.msg('KOL标注成功', {icon: 1, time: 1000});
                                }
                            })
                            layer.close(index);
                        }
                        ,
                        success: function (layero, index) {
                            var body = layer.getChildFrame('body', index);  // body.html() body里面的内容
                            body.find("#before_price").val(data.beforePrice);
                        }
                    });
                }
                else {
                    layer.open({
                        type: 1,
                        content: '           您已经完成200个KOL标注，谢谢！',
                        area: ['600px', '400px'],
                        resize:false
                    });
                }
            })
            table.reload('test', {
                page: {
                    curr: '${page}' //从第 几 页重新开始
                }
            }); //只重载数据
        });

    </script>

    <script type="text/html" id="imgTemp">
        <img class="layadmin-homepage-pad-img" src="{{d.AvatarUrl}}" width="50" height="50">
    </script>

    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;
        });
    </script>


</body>
</html>