


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设置我的密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <!--                        <div class="layui-form-item">-->
                        <!--                            <label class="layui-form-label">当前密码</label>-->
                        <!--                            <div class="layui-input-inline">-->
                        <!--                                <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" lay-verify="password" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符，必须包含大小写字母和数字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="repassword" lay-verify="password|repass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>
<script src="/js/jquery.min.js"></script>
<script>
    layui.use(['form','layer'],function () {
        var form = layui.form;
        var layer = layui.layer;
        form.verify({
            // mailbox:function (value) {
            //     if(value.length<=0){
            //         return '邮箱不能为空！';
            //     }
            // }
            // ,phone:function (value) {
            //     if(value.length<=0){
            //         return '电话不能为空！';
            //     }
            // }
            password:[
                // /^.*(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*?])\w{6,}/
                /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{6,16}$/
                // /^[\S]{6,12}$/
                ,'密码必须6到12位，要包含大小写字母和数字'
            ]
            ,repass: function(value){
                if($('input[name=password]').val() !== value){
                    return '两次密码输入不一致!';
                }
            }
        });

        form.on('submit(setmypass)',function (data) {
            console.log(data.field);
            $.ajax({
                url:"/mySubmit/changeInformation",
                data:JSON.stringify(data.field),
                dataType:'JSON',
                contentType:'application/json',
                type:'POST',
                success: function(res){
                    // layer.alert(res.date,function () {
                    //     window.location.href = "/logout";
                    // });
                    // layer.msg("密码修改成功");
                    // window.location.href = "main.html";

                    layer.msg('密码修改成功"', {icon: 1, time: 1000}, function () {
                        setTimeout('window.location.reload()', 1000);
                    });
                }
            });
        })
    })
</script>
<script>
    // layui.config({
    //     base: '/layuiadmin/' //静态资源所在路径
    // }).extend({
    //     index: 'lib/index' //主入口模块
    // }).use(['index', 'set']);
</script>
</body>
</html>